@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f87171;
 
}

.formPokemon {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPokemon input {
  width: 250px;
  height: 40px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}


.pokemonShow {
  padding: 30px;
  background-color: #dc2626;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 auto;
  width: 400px;
  height: 500px;
}

.pokemonTitle {
  display: flex;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 14px;
  width: 340px;
  padding: 10px;
  background-color: #f8fafc;
  color: #4b5563;
}

.pokemonImage {
  border-radius: 8px;
  border: 2px solid black;
  background-color: #f8fafc;
  width: 340px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.pokemonImage img {
  width: 100%;
  height: 200;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  width: 80px;
  height: 40px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #f8fafc;
  cursor: pointer;
  animation-name: out;
  animation-duration: 0.7s;
  transition: 0.4s;
}

.buttons button:hover {
  background-color: #f87171;
  color: #f8fafc;
  border: 2px solid #f8fafc;
}

.buttons .btnPrev {
  animation-name: outLeft;
  animation-duration: 0.7s;
}

.buttons .btnPrev:hover {
  animation-name: inLeft;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.buttons .btnNext:hover {
  animation-name: in;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.sidePokemon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
}

.sidePokemonLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  transform: scaleX(-1);
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #3f3f46;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: 'Inter', sans-serif;
  transition: all 0.5s;
}

footer a:hover {
  color: #dc2626;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

@keyframes inLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}

@keyframes out {
  0% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes outLeft {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.slideToLeft {
  animation: slideLeft 1s;
}

.slideToRight {
  animation: slideRight 1s;
}

.fadeIn {
  animation: fadeIn 1s;
}

@media screen and (max-width:640px) {
  .sidePokemon, .sidePokemonLeft {
    display: none;
  }
}


